<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/IDEAProjects/demo111">
        <groups>
            <run>
                <include name="sit"/>
                <include name="success1"/>
            </run>
        </groups>

        <classes>
            <class name="org.example.demo111.Demo111ApplicationTests">
                <methods>
                    <include name="contextLoads"/>
                </methods>
            </class>
            <class name="org.example.demo111.TestCase.TC1">
                <methods>
                    <include name="testcase1"/>
                    <include name="testcase2"/>
                </methods>
            </class>
            <class name="org.example.demo111.TestCase.testProvider">
                <methods>
                    <include name="getName_dataProvider"/>
                </methods>
            </class>
            <class name="org.example.demo111.TestCase.Test01">
                <methods>
                    <include name="test1"/>
                    <include name="test3"/>
                    <include name="test4_jf0001"/>
                    <include name="test6_jf0006_smsCodefail"/>
                    <include name="test6_jf0006_smsCodeSuccess"/>
                    <include name="test7_boc_smsCodefail"/>
                    <include name="test8_boc_smsCodeSuccess"/>
                    <include name="test10_demo_post_Json_Success"/>
                    <include name="test11_demo_post_Json_fail"/>
                </methods>
            </class>
            <class name="org.example.demo111.TestCase.Test03">
                <methods>
                    <include name="Addition_11"/>
                    <include name="testDivision"/>
                    <include name="test_Parameters"/>
                </methods>
            </class>
            <class name="org.example.demo111.utils.HttpUtils">
                <methods>
                    <include name="testkkk"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>